body {
  font-family: Arial;
  color: #c48b30;
  background-color: #fdf6e3;
  margin: 0;
}

header {
  background-color: #365534;
  padding: 15px;
  text-align: center;
}

.navegador {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegador h1 {
  margin: 0;
  font-size: 24px;
}

.navegador ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.navegador li {
  margin-left:30px;
}

.navegador a {
  text-decoration: none;
  color: #c48b30;
  font-weight: bold;
}

h2 {
  margin-left: 10px;
  font-size: 30px;
}

p {
  padding-left: 20px;
  font-size: 20px;
}

.fichas {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.ficha {
  background-color: #fff5c29d;
  border: 2px solid #c48b30;
  padding: 15px;
  margin: 20px;
  margin-top: 30px; /*modificar dependiendo de la pantalla*/
  width: 250px;
}

.ficha img {
  margin-left: 25px;
  margin-bottom: 10px;
  width: 200px;

}

.ficha h2{
  margin-left: 90px;
}

.ficha p {
  margin-left: 50px;
  margin-bottom: 50px;
} 

/*css para el xsl*/

.fichas2{
  display: flex;
  justify-content:center;
}

.ficha2 {
  background-color: #fff5c29d;
  border: 2px solid #c48b30;
  padding: 15px;
  margin: 20px;
  margin-top: 30px; /*150 o menos segun la pantalla*/
  width: 250px;
}

.ficha2 img {
  margin-left: 25px;
  margin-bottom: 10px;
  width: 200px;
}

.ficha2 h2{
  margin-left: 90px;
}

.ficha2 p {
  margin-left: 20px;
  margin-bottom: 30px;
} 

/*css para el contacto de persuacion*/

#contacto {
  background-color: #fff5c29d;
  border: 2px solid #c48b30;
  padding: 20px;
  margin: 40px auto;
  width: 400px;
}

#contacto h2 {
  text-align: center;
  color: #365534;
  font-size: 30px;
}

#contacto p {
  text-align: center;
  font-size: 20px
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario label {
  margin-top: 10px;
  font-weight: bold;
}

.formulario input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #c48b30;
  border-radius: 4px;
}

.formulario button {
  margin-top: 20px;
  padding: 10px;
  background-color: #365534;
  color: #fdfdfd;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 600px) {
  header {
    padding: 15px;
  }

  .navegador {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navegador ul {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }

  .navegador li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .navegador a {
    display: block;
    padding: 10px 15px;
    width: 100%;
    background-color: #365534; /* mismo verde del header */
    color: #c48b30;
  }
}
